@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  background-color: rgba(20, 20, 20, 70);
  
  color: white;
  display: flex;
  overflow-y: auto;
  justify-content: center;
  padding: 5px;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}